
body{
    margin: 0;
}
/*ヘッダー*/
.header{
    position:fixed;
    width: 100%;
    height: 45px;
    left: 0;
    margin: 0;
    background-color:sandybrown;
}
.logo{
    position:absolute;
    width:150px;
    height:35px;
    top:5px;
    left: 5px;
    text-indent: -999em;
    background-image: url(../images/breaking_news.png);
}
.header ul{
    position:absolute;
    display:flex;
    justify-self: center;
}
.header ul li{
    display: inline-block;
    position:relative;
    top: -5px;
    margin-right: 2em;
}
.header ul li:hover{
    color:red;
}
/*ボディー*/
.body{
    position: absolute;
    width:100%;
    height:100%;
    top: 45px;
    background-color: royalblue;
}
.info{
    position: absolute;
    display:block;
    list-style: none;
    left: 5px;
    width: 30%;
    height: 100%;
    background-color: white;
}
@media only screen and (max-width:767px){
    .info{width:100%;
          left: 0;        
    }
}
@media only screen and (max-width:600px){
    .info-bg{
        width:50%;
    }
}
.detail{
    position:absolute;
    display:none;
    top: 45px;
    right: 20%;
    width: 50%;
    height: 100%;
    color: white;
    font-family: 'JF-Dot-Shinonome-14-Regular';
    background-color:black;
}
@media only screen and (max-width:767px){
    .detail{width:100%;
            left: 0;      
    }
}
.detail:target{
    display:block;
}


/*フッター*/
.footer{
    position:fixed;
    bottom: 0px;
    width: 100%;
    color: white;
    background-color: indigo;
}